#text{
  position: relative;
  left: 30%;
}
img.background2 {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  matgin: 0;
}
img.background1 {
  width: 48%;
  height: 2%;
  ;
}
form {
 position: absolute;
 top: 33%;
 left: 15%;
 color: whitesmoke;
}
#answer {
  position: absolute;
  color: darkblue;
  bottom: 55%;
  left: 16.5%;
  visibility: 50%;

}
#secondAnswer {
  position: absolute;
  color: darkblue;
  bottom: 52%;
  left: 17.1%;
  visibility: 50%;
}